.view .button {
  background-color: #86A0F1;
  background-image: none;
  border: none; 
  border-radius: 0px; 
  margin: 0; 
}

.view .button:hover {
    background-color: #AABCF5;
    transition: 200ms linear
}

.view .toolbar {
  background-color: #86A0F1;  
  border-radius: 0px;
}

.view .toolbarEnd:dir(ltr) {
  border-left: rgba(255,255,255,0.45) 1px solid; 
}

.view .toolbarEnd:dir(rtl) {
  border-right: rgba(255,255,255,0.45) 1px solid; 
}

.emptyGrid {
   background-color: @theme_bg_color;
}
