
.view .scrollbar.slider {
  background-color: alpha (@scrollbar_slider, 0.5);
  border: #6e6e6e 1px solid;
}

.view .scrollbar.trough {
  background-color: transparent;
  background-image: none;
}

.view .button {
  background-color: transparent;
  background-image: none;
  border-radius: 0px;
}
